.header{
    padding-left: 40px;
    height: 150px;
    background-color: rgb(47, 72, 66);
    color: rgb(237, 236, 230);}
    ul{
        padding-top: 12px;}
    ul a{
        color: rgb(237, 236, 230);
        text-decoration: none;}
    li:hover{
        background-color: rgb(216, 130, 105);
        border-style: none;}
    li{
        display: inline-block;
        height: 49px;
        width: 100px;
        padding: 12px;
        text-align: center; 
        background-color: rgb(176, 80, 68);}
    .container-sm{
        background-color: rgb(134, 165, 168); 
        color:rgb(47, 72, 66); 
        padding-top: 20px;
        padding-bottom: 20px;}
    input[type="text"], input[type="email"], textarea, select, button{
        background-color: rgb(237, 236, 230);
        color: rgb(47, 72, 66);
        display: block;
        margin: 15px 0px;
        width: 400px;
        box-sizing: border-box;
        border-radius: 4px;}
    textarea{
        height: 200px;
        padding: 5px 4px;}
    button:active{
        background-color: rgb(216, 130, 105);
        color: rgb(237, 236, 230);
        border-radius: 8px;}
    form{
        padding-top: 5px;
        padding-left: 40px;
        padding-right: 40px;}
    .footer{
        height: 200px; 
        background-color: rgb(47, 72, 66); 
        color: rgb(240, 208, 216); }
    p{      
        text-align: right; 
        padding-top: 50px; 
        padding-right: 100px;}